<a href="https://colab.research.google.com/github/ronaldowg/adp255/blob/main/COMPJTI_1105_PythonIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamento do Python

A interface do Python:

Todo código em Python (.py) chamamos de script. Podemos rodar o código no shell em diferentes IDEs.

O shell (ambiente onde rodamos os códigos) somente entende os códigos na sintaxe correta do Python.

In [ ]:
# Por exemplo, o que acontece quando escrevemos um texto em "linguagem humana" no shell?
# Clique em rodar nessa célular para ver o que acontece

Olá, meu nome é Conquer!

`SyntaxError: invalid syntax`  já nos mostra que o erro que ocorreu foi de sintaxe (ou seja, na escrita do código)

Vamos tentar escrever a mesma coisa utilizando as aspas simles ' ou aspas duplas "

In [ ]:
'Olá, meu nome é Conquer!'

Agora sim! Para o Python entender textos *string*, precisamos colocar entre aspas simples ou duplas.

O Python é muito matemático, ele entende números e operações matemáticas sem grande esforço:

In [ ]:
# Por exemplo, podemos facilmente multiplicar os números 5 e 7:

5 * 7

Utilizamos uma função especial do Python que se `print()` quando queremos que ele nos apresente na tela algum resultado:

Vamos voltar ao exemplo da multiplicação dos números 5 e 7. Faça com que o Python imprima o resulta:

In [ ]:
# Imprima o resultado da multiplicação entre 5 e 6:

print(5 * 6)

Repare que quando quisermos inserir algum comentário em "linguagem humana" dentro do nosso código, devemos utilizar o coringa `#`: tudo que vier após ele o Python vai ignorar. Ele só serve para comentários em uma linha.

Se quiseremos escrever mais de um linha de comentários, podemos utilizar três vezes as aspas duplas no ínicio e no final do comentário

In [ ]:
# Este é um comentário de linha simples

print('Hello World')

Relembrando os operadores matemáticos do Python:

* Exponenciação: `**` este operador eleva o número da esquerda na potência do número da direita. Por exemplo `4**2` equivale `16`.

* Resto: `%` este operador retorno o resto da divisão entre dois números. Por exemplo `18 % 7` equivale a `4`.

### Mão na Massa

Suponha que um anúncio da empresa tem como objetivo render 10% do valor investido ao ano.

A empresa investiu R$ 10.000,00

Para saber o valor ao final do primeiro ano, basta multiplicar `10.000,00 x 1,1 = R$ 11.000,00`

Ao final de dois anos, teríamos `10.000,00 x 1,1 x 1,1 = R$ ??? `

**Use o Python para calcular o valor do investimento ao final de 7 anos**

In [ ]:
# Calcule aqui o valor do investimento após 7 anos:

#round(10000.00*1.1*1.1*1.1*1.1*1.1*1.1*1.1, 2)

#10000 * (1.1 ** 7)

#10000.00 * (1.1 ** 7)

#print('R$ ' + str(10000.00*1.1*1.1*1.1*1.1*1.1*1.1*1.1))

print('R$ '+ str( 10000*(1.1**7) ))

Podemos organizar o nosso cálculo armazenando os número em variáveis.

Variáveis são como "caixinhas" onde alocamos algum dado a elas.

Por exemplo, podemos definir a variável `conquer` e alocar a ela o número `10`.

In [ ]:
conquer = 10



#Agora podemos mostrar o valor guardado na variável ao imprimi-la:

print()

### Mão na Massa

Faça o mesmo cálculo do investimento ao final de 7 anos.

Para tanto, defina três variáveis: `valor_inicial`  ,   `multiplicador_crescimento`  e `resultado`.

Por fim, imprima o resultado.

In [ ]:
# Crie a variável valor_inicial
valor_inicial = 10000

# Crie a variável multiplicador_crescimento
multiplicador_crescimento = 1.1

# Calcule o resultado
resultado = valor_inicial * ( multiplicador_crescimento ** 7 )

# Imprima o resultado
print(resultado)

O que acontece se eu somar variáveis que são texto (string) ?

In [ ]:
valor_inicial

In [ ]:
valor_inicial = 78

In [ ]:
valor_inicial

In [ ]:
aula = 'show'

print(aula + "-" + aula)

Somar duas string é a mesma coisa que juntá-las em uma só. Como se fosse o concatenar texto no excel.

Rode o código abaixo e diga qual o problema

In [ ]:
print("Eu apliquei R$ " + valor_inicial + " e obtive ao final de 7 anos R$ " + resultado + " . Demais!!")

O que significa o erro apresentado?

`TypeError: can only concatenate str (not "int") to str`

Para resolver, devemos transformar o objeto que esta armazenado como número para string. Vamos utilizar a função `str()` para transformar um número em texto. 

### Mão na Massa

Tente no código abaixo transformar a variável para string: `str(valor_inicial)` e `str(resultado)`. Rode o código novamente.

In [ ]:
valor_incial = 7
str(float(valor_inicial))

In [ ]:
print("Eu apliquei R$ " + str(valor_inicial) + " e obtive ao final de 7 anos R$ " + str(resultado) + " . Demais!!")

In [ ]:
a = 7
str(a)

Sempre podemos consultar um tipo de variável com a função `type()`.

Similar a função `str()` temos as funções `int()`, `float()`, e `bool()`.

## Listas

Lista é um tipo de objeto muito utilizado no Python.

Utilizamos o colchetes `[ ]` para delimitar uma lista e os itens são inseridos dentro e separados por vírgula.

In [ ]:
# Uma lista contendo número, texto e variável

minha_lista = [1, 43, 'conquer', resultado, -5]

Para acessar os elementos de uma lista, basta utilizar o colchete `[]` e dentro o número inteiro da posição do elemento que queremos:

```
x = ["a", "b" , "c", "d"]
x[1]
x[-3] #o mesmo resultado!
```
resultado: "b"

Lembre que no Python a contagem de posição começa no zero `0``

### Mão na Massa

In [ ]:
# Imprima o segundo elemento da minha_lista
print(minha_lista[ ])

# Imprima o último elemento da minha_lista
print(minha_lista[ ])

# Imprima o único elemento de texto na minha_lista
print(minha_lista[ ])

Podemos recortar uma lista utilizando um *range*.

`minha_lista[start:end]``

O `start` será incluído no resultado, mas o `end`, não.

In [ ]:
# resgatamos os elementos de índice 1 e 2 da minha_lista
print(minha_lista[1:3])

# podemos deixar em aberto o início e final, neste caso virá tudo ante ou depois da posição em aberto.

# neste caso, resgatamos todos os objetos antes da posição 3, ou seja, posições 0, 1 e 2:
print(minha_lista[:3])

# neste caso, resgatamos todos os objetos depois da posição 1, ou seja, posições 2, 3, 4 e 5 :
print(minha_lista[1:])

In [ ]:
l = ["brasil", 4.5, 75, True, "Pelé"]

# faça um recorte na lista retornando todos os elementos até (inclusive) o terceiro item da lista
print(l[ ])

# faça um recorte na lista e retorno os dois últimos itens da lista
print([ ])

* Modificamos um item da lista indicando o novo valor na posição a substituir `minha_lista[2] = "novo elemento"`

* Adicionamos elementos com a função `append()`, esta função modifica a lista e acrescenta o item ao final.

* Removemos um item com a funçao `del()`, especificando dentro do parênteses a posição da lista a excluir.

In [ ]:
print(l)

l[1] = "novo elemento"

print(l)

l.append(2021)

print(l)

del(l[0])

print(l)